:root {
    --back-color: #FAFAFA;
    --shadow-box: 0 4px 8px 0 rgba(0,0,0,0.2);
}

body {
    background-color: var(--back-color);
}

form {
    margin-bottom: 0;
}

h5 {
    text-align: center;
}

.citizen-list {
    list-style-type: none;
    margin-bottom: 0;
    overflow-y: scroll;
    height: 43vh;
}

li, li:last-child {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 0;
}


li:hover {
    background: #EEEEEE;
    cursor: pointer;
}

table {
    margin-bottom: 0;
    table-layout: fixed;
}

tbody {
    overflow: scroll;
}

td {
    text-align: center;
}


#wrapper {
    margin: 10px;
}

.box, .box-no-shadow {
    border: 1px solid #D1D1D1;
    box-shadow: var(--shadow-box);
    border-radius: 4px;
    padding: 10px;
    background-color: white;
}

.box-no-shadow {
    box-shadow: none;
}

#login {
    max-width: 560px;
    margin: 0 auto;
    margin-top: 100px;
}

.add-citizen {
    background-color: white;
}

#citizen-list {
    padding: 0;
    height: 52vh;
    margin-top: 7px;
}

.separator {
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 20px;
}

.search-result-list {
    margin: 0;
    list-style-type: none;
}

.search-result-box {
    height: 47.1vh;
    overflow-y: scroll;
    padding: 0;
}

#contact-list {
    padding: 0;
    height: 83.5vh;
    overflow-y: scroll;
}

#add-tst:hover {
    background-color: #D1D1D1;
}

.btn-submit,
.search-add-btn,
.contact-list-btn {
    background-color: #33C3F0;
    cursor: pointer;
    color: white;
    text-align: center;
}

.btn-submit {
    border-radius: 3px;
    padding: 5px;
}

.btn-submit:hover,
.search-add-btn:hover {
    background-color: #1EAEDB;
}

.contact-list-btn,
.search-add-btn {
    width: 30px;
}

#citizen-admin-form {
    margin: 0 auto;
    max-width: 560px;
}

.contact-list-btn {
    background-color: #e53935;
}

.contact-list-btn:hover {
    background-color: #d32f2f;
}

td.search-add-btn,
td.contact-list-btn {
    padding-right: 15px;
}